*{
    margin: 0;
    padding: 0;
}

.contenedorgeneral{
    width: 100%;
    background-color: white;
    display: inline-block;
    box-sizing:border-box;
    
    
}

/*NAV*/                                                                 /*NAV*/

.contenedor{
    background: #FFFFFF;
    width: 100vw;
    height: 44px;
    display:flex;
    justify-content: space-between;
    
}
/*MENU HAMBURGUESA*/                                                        /*MENU HAMBURGUESA*/
.menu{
    display: flex;
    justify-content: end;
    padding: 0 1em;
    margin-top: 0.9em;
    margin-right:1em;
    
}
ul{
    display:none;
    position:absolute;
    width:100%;
    height: 13em;
    top:5vh;
    right:0;
    z-index:1;
    background:#0000EC;
}
.ulstyle{
    top:2em;
    text-decoration: none;
    margin: 1em;
    font-family: 'IBM Plex Mono';
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 3em;
}
.ulstyle:hover{
 font-family: 'IBM Plex Mono';
font-size: 16px;
text-decoration: line-through;
color: #00F3BB;
letter-spacing: 0;
line-height: 28px;
}
.inputnav{
display:none;    
}
input:checked ~ .close{
    display:block;
    
}
input:checked ~ ul{
    display:block;
}
input:checked ~ .open{
    display:none;
    
}
.close{
    display:none;
}
.open{
    display:block;
    
}

.logo{
    position:absolute;
    left: 2.2em;
    top: 10px;
    width: 24px;
    height: 24px;
}


  


/*PRIMER BLOQUE*/                                                 /*PRIMER BLOQUE*/ 

.titulo1{
    padding:0 1em;
    display: block;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    color: #060A24;
    letter-spacing: 1;
    text-size-adjust: 100%;
    line-height: 42px;
    opacity: 100%;
    font-weight: bold;
    left: 2.2em;
    
   
}
.worldtachado{
    text-decoration: line-through;
}
.subtitulo{

font-family: 'IBM Plex Mono', monospace;
font-size: 14px;
color: #060A24;
letter-spacing: 0;
line-height: 22px;
transform: translate(-50% -50%);
margin-left:2.5em;
font-weight: 400px;
margin-top: 1em;
letter-spacing: 1;


}
.boton1{
    position:relative;
    background: #00F3BB;
    width: 200px;
    height: 48px;
   font-family: 'IBM Plex Mono';
   font-size: 16px;
   color: #060A24 100%;
   border: #00F3BB;
   letter-spacing: 0 22px;
   line-height: 22px;
   opacity: 100%;
   margin-left:2.2em;
   align-content: center;
   margin-top: 2em;
   cursor: pointer;
   box-shadow: 5px 5px 10px 1px rgba(0, 0,0, 0.5);
}
.boton1:hover{
 font-family: 'IBM Plex Mono';
font-size: 18px;
color: #FFFFFF;
border: #00F3BB;
letter-spacing: 0;
text-align: center;
line-height: 24px;
cursor: pointer;
 background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
}

/*BLOQUE EPISODIOS*/                                               /*BLOQUE EPISODIOS*/

.contenedorepisodios{
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    width: 100%;
    height: 60em;
    transform: skewY(-4deg);
    transform-origin: top left;
    margin-top: 1.3em;
   
}

.episodios{

display: inline-block;
font-family: 'IBM Plex Sans', sans-serif;
font-size: 36px;
color: #FFFFFF;
letter-spacing: 0 42px;
line-height: 42px;
right: 147px;
bottom: 64px;
margin-top: 0.8em;
transform: skew(0deg, 4deg);
margin-left:1em;

}



.posicionspotify{
    margin-top:1em;
    display: flex;
    flex-direction: column;
    position: 11px 474px;
    padding: 11px;
    transform: translate(-50% -50%);
    transform: skew(0deg, 4deg);
    border:none;
    
}
.flex{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 3em;
    height:18em;
    border:none; 
    
}
.iframespotify{
    border:none;
    padding-top: 1em;
}


  /*BLOQUE CELULAR*/                                                      /*BLOQUE CELULAR*/

.contenedormedia{
    
    margin-bottom: -10em;
}
   
.celular img{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-120px);
    width: 20em;
    height: 35em;
    z-index: 99;
    margin-bottom: 300px;

   
    }   

.dondevenimos{

font-family: 'IBM Plex Sans';
font-size: 30px;
color: #060A24;
letter-spacing: 0;
line-height: 42px;
margin-top: -8em;
}

.parrafomargen1{
    margin-top: 1em;
}
.parrafomargen{
    margin-top: 1em;
}
.bloquecelular{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    color: #060A24;
    letter-spacing: 0;
    font-weight: 400;
    line-height: 22px;
    margin-left:2.5em;
    font-weight: 200px;
    margin-top: 1em;
    }

/*BLOQUE INVITADOS*/                                                       /*BLOQUE INVITADOS*/

.contenedorinvitados{
    margin-top: 10em;
    width: 100%;
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
    /* border: 1 solid black;*/
    font-size: 30px;
    font-weight: 300;
}
.invitados{
 font-family: 'IBM Plex Sans';
font-size: 30px;
color: #060A24;
letter-spacing: 0;
line-height: 42px;
font-weight: bold ;
margin-left:1em;
margin-top: 1em;

}

.imagenesinvitados img{
    display:block;
    width: 100%;
    height: 100%;
    justify-content: center;
}

/*BLOQUE BOTONES*/                                                              /*BLOQUE BOTONES*/
.botones{   
font-family: 'IBM Plex Sans';
font-size: 20px;
color: #060A24;
letter-spacing: 0;
text-align: center;
padding: 1em 1em;
}

.botonfooter{
    background: #00F3BB;
    width: 260px;
    height: 48px;
   font-family: 'IBM Plex Mono';
   font-size: 16px;
   color: #060A24 100%;
   border: #00F3BB;
   letter-spacing: 0 22px;
   line-height: 22px;
   opacity: 100%;
   margin-left:2.2em;
   align-content: center;
   display:block;
}
/*BLOQUENOVEDADES*/                                                     /*BLOQUENOVEDADES*/

.contenedornovedades{
    width: 100%;
    height: 20em;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    clip-path: polygon(0 14%, 100% 0, 100% 100%, 0% 100%);
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
}
.novedades{
    display: inline-block;
    width: 100%;
font-family: 'IBM Plex Sans';
font-size: 36px;
color: #FFFFFF;
letter-spacing: 0;
text-align: center;
line-height: 42px;

margin-top:1em;
}

/*FOOTER*/                                                            /*FOOTER*/

.footercontainer{
width: 100vw;
font-family: 'IBM Plex Mono';
font-size: 14px;
color: #060A24;
letter-spacing: 0;
line-height: 22px;
margin-top:1em;
font-weight: 300;

}
.botonfooter{
    margin-top: 4em;
    display: inline-block;
    margin-left: 0em;
    cursor: pointer;
}
.botonfooter:hover{
    font-family: 'IBM Plex Mono';
   font-size: 18px;
   color: #FFFFFF;
   letter-spacing: 0;
   text-align: center;
   line-height: 24px;
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
    box-shadow: 5px 5px 10px 1px rgba(0, 0,0, 0.5);
}



.bluepale{
    width: 100vw;
    display: flex;
    justify-content: center;
}
.socialmedia{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    margin-top: 1em;
    border-radius: 2px;
    cursor: pointer;
    color:black;
}

.socialmedia:hover{
    transform: scale(1.1);    
}

a{
    color: black;


}
